/* reset.css */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: coral;
}

.social {
  width: 100%;
  height: 280px;
  background-color: #78b7e0;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: row nowrap;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.social__box {
  width: 100px;
  height: 100%;
  background-color: #70c0e6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  overflow: hidden;
  position: relative;
}
.social__box__text {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.social__slide {
  width: 0px;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}
.social__box:hover + .social__slide, .social__slide:hover {
  width: 400px;
}
.social__slide__text {
  width: 400px;
  height: 100%;
  background-color: none;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-flow: column nowrap;
  overflow: hidden;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
}
.social__slide__text p, .social__slide__text h1 {
  margin: 20px 0 0 10px;
  font-size: 18px;
}
.social__slide__text h1 {
  font-size: 48px;
}
.social__box:hover + .social__slide > .social__slide__text, .social__slide__text:hover {
  transform: translateX(0%);
}

.tw_color {
  background-color: #1DA1F2;
}

.fc_color {
  background-color: #1877F2;
}

.lin_color {
  background-color: #0077B5;
}

.inst_color {
  background-color: #39b400;
}

.you_color {
  background-color: #FF0000;
}

.tum_color {
  background-color: #35465c;
}

.drib_color {
  background-color: #EA4C89;
}

.social__box:hover .social__box__text {
  transform: translateX(0);
}

.social__box:hover .slider-text {
  transform: translateX(0);
}/*# sourceMappingURL=main.css.map */